<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<!-- namespace는 꼭 풀패키지 네임으로 적어줘야 함 -->
<mapper namespace="com.team555.inu.ringmybell_mainserver.server.dao.RingMyBellMapper">

    <select id="selectBusStopsListOf780_1" parameterType="String" resultType="BusStop">
        select*from
        bus_780_1_stops
        order by stop_no asc
    </select>

    <select id="selectSearchedBusRoutesList" parameterType="Android" resultType="SearchedBusRoute">
        select*from bus_routes where bus_route like CONCAT('%', #{routeNum}, '%') order by bus_route asc
    </select>

    <insert id="addReservation" parameterType="Android">
        insert
        into
        reservations
        (
        android_client_identifier,
        bus_identifier,
        reservation_to_stop
        )
        values
        (
        #{identifier},
        #{busNumPlate},
        #{stopToBook}
        )
    </insert>

    <update id="updateReservation" parameterType="Android">
        update
        reservations
        set
        reservation_to_stop=#{stopToBook}
        where
        android_client_identifier=#{identifier}
    </update>

    <delete id="deleteReservation" parameterType="Android">
        delete
        from
        reservations
        where
        android_client_identifier=#{identifier}
        and
        bus_identifier=#{busNumPlate}
    </delete>
    
    <delete id="arriveAtTheBusStop" parameterType="BusArriveInform">
        delete
        from
        reservations
        where
        bus_identifier=#{busNumPlate}
        and
        reservation_to_stop=#{leftStop}
    </delete>

    <select id="checkBusLocationOf780_1" parameterType="RasberryPi" resultType="String">
        select stop_identifier,
        (6371*acos(cos(radians(#{lat}))*cos(radians(latitude))*cos(radians(longitude)
        -radians(#{lon}))+sin(radians(#{lat}))*sin(radians(latitude)))) AS distance
        FROM bus_780_1_stop_locations
        HAVING distance <![CDATA[<= 0.05]]>
        ORDER BY distance
        LIMIT 0,1
    </select>

</mapper>